.switch {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: var(--width);
  height: var(--height);
  overflow: hidden;
  background: #888888;
  border-radius: calc(var(--height) / 2);
  transition: all 0.5s ease-in-out;

  .switch-label {
    display: flex;
    align-items: center;
    width: var(--width);
    height: var(--height);
    background: var(--background);
    border-radius: var(--height);
    transform: translateX(var(--translateX));
    transition: all 0.5s ease-in-out;
  }

  .switch-label::after {
    position: absolute;
    right: var(--circleRight);
    width: var(--circleWidth);
    height: var(--circleWidth);
    background: #ffffff;
    border-radius: var(--circleWidth);
    content: '';
  }
}
