.col {
  display: flex;
  flex-flow: row wrap;
  gap: var(--gutter);
  box-sizing: border-box;

  .row {
    display: flex;
    flex: 0 0 var(--span);
    max-width: var(--span);
    box-sizing: border-box;
  }
}

.grid-item {
  background: gray;
  height: 100px;
  width: 100%;
  border: 1px solid;
}
