.switch {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: var(--width);
  height: var(--height);
  border-radius: calc(var(--height) / 2);
  transition: all 0.5s ease-in-out;
  // overflow: hidden;//safari浏览器短暂失效，猜测是受到过渡属性影响，替换为以下属性
  contain: paint;
  cursor: pointer;
  // box-shadow: 0 0 0 6px @main-color;

  &::after {
    /*其他样式*/
    // opacity: 0;
    box-shadow: 0 0 0 6px @main-color;
    transition: 0.3s;
  }
  /*点击*/
  &:active::after {
    box-shadow: none;
    opacity: 0.4;
    transition: 0s; /*取消过渡*/
  }

  .off-text {
    content: var(--offText);
    position: absolute;
    right: var(--textPadding);
    font-size: var(--textSize);
    color: @white-color;
    z-index: 0;
    display: flex;
    align-items: center;
  }

  .switch-label {
    display: flex;
    align-items: center;
    width: var(--width);
    height: var(--height);
    border-radius: var(--height);
    transform: translateX(var(--translateX));
    transition: all 0.5s ease-in-out;
    position: absolute;
    z-index: 1;

    &::after {
      position: absolute;
      right: var(--circleRight);
      width: var(--circleWidth);
      height: var(--circleWidth);
      background: @white-color;
      border-radius: var(--circleWidth);
      content: '';
    }

    .on-text {
      position: absolute;
      left: var(--textPadding);
      color: @white-color;
      font-size: var(--textSize);
      content: var(--onText);
      z-index: 2;
      display: flex;
      align-items: center;
    }
  }
}

.on-color {
  .main-opacity(1);

  &:not(.disabled):hover {
    .main-opacity(0.85);
  }
}

.off-color {
  .black-opacity(0.25);

  &:not(.disabled):hover {
    .black-opacity(0.45);
  }
}
