.scorll-pro-box {
  width: var(--width);
  height: var(--height);
  overflow: hidden;
  border-radius: var(--borderRadius);

  section{
    position: relative;
    width: var(--width);
    height: var(--height);
    transform-style: preserve-3d;
    // animation: rotate 20s linear infinite;
    transition: all var(--transTime);
    transform: rotateX(var(--transform));
  }
  section:hover{
    animation-play-state: paused;
  }
  section div{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: var(--fontSize);
    color: @white-color;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: @main-color;
  }
  
  section div:nth-child(1){
    transform: rotateX(0deg) translateZ(var(--translateZ));
  }
  section div:nth-child(2){
    transform: rotateX(36deg) translateZ(var(--translateZ));
  }
  section div:nth-child(3){
    transform: rotateX(72deg) translateZ(var(--translateZ));
  }
  section div:nth-child(4){
    transform: rotateX(108deg) translateZ(var(--translateZ));
  }
  section div:nth-child(5){
    transform: rotateX(144deg) translateZ(var(--translateZ));
  }
  section div:nth-child(6){
    transform: rotateX(180deg) translateZ(var(--translateZ));
  }
  section div:nth-child(7){
    transform: rotateX(216deg) translateZ(var(--translateZ));
  }
  section div:nth-child(8){
    transform: rotateX(252deg) translateZ(var(--translateZ));
  }
  section div:nth-child(9){
    transform: rotateX(288deg) translateZ(var(--translateZ));
  }
  section div:nth-child(10){
    transform: rotateX(324deg) translateZ(var(--translateZ));
  }
  
  @keyframes rotate {
    0%{
        transform: rotateX(360deg);
    }
    100%{
        transform: rotateX(0deg);
    }
  }
}
