.box {
  height: var(--height);
  width: var(--width);
  background: @main-color;
  border-radius: var(--borderRadius);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .num {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--width);
    font-size: var(--fontSize);
    color: #ffffff;
    transition: all var(--transTime);
    transform: translateY(var(--transform));

    .num-item {
      width: 100%;
      height: var(--height);
      line-height: var(--height);
      text-align: center;
    }
  }
}
